* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Hanken Grotesk', sans-serif;
  /* border: solid red 1px; */
}

.result-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  padding: 2em 3em 2em 3em;
  border-radius: 0 0 25px 25px;
}

.your-result-text {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: .2em;
  color: hsl(241, 100%, 89%);
}

.score-container {
  text-align: center;
  width: 150px;
  height: 150px;
  background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
  border-radius: 100px;
  margin: 1.2em;
}

.score {
  color: hsl(0, 0%, 100%);
  font-size: 62px;
  font-weight: 800;
  padding-top: 18%;
}

.possible-score {
  font-weight: 700;
  font-size: 16px;
  color: hsl(241, 100%, 89%);
}

h1 {
  font-size: 26px;
  color: hsl(0, 0%, 100%);
}

p {
  margin: .5em 0 .5em 0;
  text-align: center;
  font-size: 16px;
  color: hsl(241, 100%, 89%);
}